.usa-width-one-whole {
	margin-left: auto;
	margin-right: auto;	
}

input,
textarea
{
  font-size: 2rem;
}

body {
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #111111;
  color: #ffffff;
  padding-bottom: 4rem;
}

h1 {
  color: #92af00;
  padding-top: 4rem;
  padding-bottom: 0rem;
}

select {
  font-size: 1.8rem;	
}

label {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  max-width: none;
}

usa-form-large {
   max-width: none !important;
   margin-right: 0 !important;
}

.pergunta {
  padding-top: 1rem;	
}

.usa-button, .usa-button-secondary {
  font-size: 2.2rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

a {
  color: #78d8f9;
}

a:hover, a:focus {
  color: #111111;
  background-color: #78d8f9;
  text-decoration: none;
}

input[type="checkbox"],
input[type="radio"]
{
    display: inline-block !important;
    height: 18px !important;
    width: 18px !important;
}

input[type="checkbox"] + label, 
input[type="radio"] + label
{
    display: inline-block !important;
    padding-left: 1rem;
}

input[type="checkbox"]
{
   -webkit-appearance: checkbox !important;
   -moz-appearance: checkbox !important;
   appearance: checkbox !important;
}

input[type="radio"]
{
   -webkit-appearance: radio !important;
   -moz-appearance: radio !important;
   appearance: radio !important;
}

table.resultados {
	color: #ffffff;
}